{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "http://api.fantasydata.net/v3/soccer/stats"
        },
        {
            "url": "https://api.fantasydata.net/v3/soccer/stats"
        }
    ],
    "info": {
        "contact": {
            "x-twitter": "nfldata"
        },
        "title": "Soccer v3 Stats",
        "version": "1.0",
        "x-apisguru-categories": [
            "entertainment"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_nfldata_profile_image.jpeg"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://fantasydata.com/downloads/swagger/soccer-v3-stats.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "fantasydata.net",
        "x-serviceName": "soccer-v3-stats"
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ],
    "tags": [],
    "paths": {
        "/{format}/ActiveMemberships": {
            "get": {
                "operationId": "MembershipsActive",
                "parameters": [
                    {
                        "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
                        "in": "path",
                        "name": "format",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "xml",
                                "json"
                            ],
                            "default": "xml"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "Active": {
                                                "type": "boolean"
                                            },
                                            "EndDate": {
                                                "type": "string"
                                            },
                                            "MembershipId": {
                                                "type": "integer"
                                            },
                                            "PlayerId": {
                                                "type": "integer"
                                            },
                                            "PlayerName": {
                                                "type": "string"
                                            },
                                            "StartDate": {
                                                "type": "string"
                                            },
                                            "TeamArea": {
                                                "type": "string"
                                            },
                                            "TeamId": {
                                                "type": "integer"
                                            },
                                            "TeamName": {
                                                "type": "string"
                                            },
                                            "Updated": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Memberships (Active)"
            }
        },
        "/{format}/Areas": {
            "get": {
                "operationId": "AreasCountries",
                "parameters": [
                    {
                        "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
                        "in": "path",
                        "name": "format",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "xml",
                                "json"
                            ],
                            "default": "xml"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "AreaId": {
                                                "type": "integer"
                                            },
                                            "Competitions": {
                                                "items": {
                                                    "properties": {
                                                        "AreaId": {
                                                            "type": "integer"
                                                        },
                                                        "AreaName": {
                                                            "type": "string"
                                                        },
                                                        "CompetitionId": {
                                                            "type": "integer"
                                                        },
                                                        "Format": {
                                                            "type": "string"
                                                        },
                                                        "Gender": {
                                                            "type": "string"
                                                        },
                                                        "Key": {
                                                            "type": "string"
                                                        },
                                                        "Name": {
                                                            "type": "string"
                                                        },
                                                        "Seasons": {
                                                            "items": {
                                                                "properties": {
                                                                    "CompetitionId": {
                                                                        "type": "integer"
                                                                    },
                                                                    "CompetitionName": {
                                                                        "type": "string"
                                                                    },
                                                                    "CurrentSeason": {
                                                                        "type": "boolean"
                                                                    },
                                                                    "EndDate": {
                                                                        "type": "string"
                                                                    },
                                                                    "Name": {
                                                                        "type": "string"
                                                                    },
                                                                    "Rounds": {
                                                                        "items": {
                                                                            "properties": {
                                                                                "CurrentRound": {
                                                                                    "type": "boolean"
                                                                                },
                                                                                "CurrentWeek": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "EndDate": {
                                                                                    "type": "string"
                                                                                },
                                                                                "Name": {
                                                                                    "type": "string"
                                                                                },
                                                                                "RoundId": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "Season": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "SeasonId": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "SeasonType": {
                                                                                    "type": "integer"
                                                                                },
                                                                                "StartDate": {
                                                                                    "type": "string"
                                                                                },
                                                                                "Type": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "Season": {
                                                                        "type": "integer"
                                                                    },
                                                                    "SeasonId": {
                                                                        "type": "integer"
                                                                    },
                                                                    "StartDate": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "Type": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "CountryCode": {
                                                "type": "string"
                                            },
                                            "Name": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Areas (Countries)"
            }
        },
        "/{format}/BoxScore/{gameid}": {
            "get": {
                "operationId": "BoxScore",
                "parameters": [
                    {
                        "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
                        "in": "path",
                        "name": "format",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "xml",
                                "json"
                            ],
                            "default": "xml"
                        }
                    },
                    {
                        "description": "The GameID of a Soccer game.  GameIDs can be found in the Games API.  Valid entries are <code>702</code>, <code>1274</code>, etc.",
                        "in": "path",
                        "name": "gameid",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "AdditionalAssistantReferee1": {
                                            "properties": {
                                                "FirstName": {
                                                    "type": "string"
                                                },
                                                "LastName": {
                                                    "type": "string"
                                                },
                                                "Nationality": {
                                                    "type": "string"
                                                },
                                                "RefereeId": {
                                                    "type": "integer"
                                                },
                                                "ShortName": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "AdditionalAssistantReferee2": {
                                            "properties": {
                                                "FirstName": {
                                                    "type": "string"
                                                },
                                                "LastName": {
                                                    "type": "string"
                                                },
                                                "Nationality": {
                                                    "type": "string"
                                                },
                                                "RefereeId": {
                                                    "type": "integer"
                                                },
                                                "ShortName": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "AssistantReferee1": {
                                            "properties": {
                                                "FirstName": {
                                                    "type": "string"
                                                },
                                                "LastName": {
                                                    "type": "string"
                                                },
                                                "Nationality": {
                                                    "type": "string"
                                                },
                                                "RefereeId": {
                                                    "type": "integer"
                                                },
                                                "ShortName": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "AssistantReferee2": {
                                            "properties": {
                                                "FirstName": {
                                                    "type": "string"
                                                },
                                                "LastName": {
                                                    "type": "string"
                                                },
                                                "Nationality": {
                                                    "type": "string"
                                                },
                                                "RefereeId": {
                                                    "type": "integer"
                                                },
                                                "ShortName": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "AwayTeamCoach": {
                                            "properties": {
                                                "CoachId": {
                                                    "type": "integer"
                                                },
                                                "FirstName": {
                                                    "type": "string"
                                                },
                                                "LastName": {
                                                    "type": "string"
                                                },
                                                "Nationality": {
                                                    "type": "string"
                                                },
                                                "ShortName": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "Bookings": {
                                            "items": {
                                                "properties": {
                                                    "BookingId": {
                                                        "type": "integer"
                                                    },
                                                    "GameId": {
                                                        "type": "integer"
                                                    },
                                                    "GameMinute": {
                                                        "type": "integer"
                                                    },
                                                    "GameMinuteExtra": {
                                                        "type": "integer"
                                                    },
                                                    "Name": {
                                                        "type": "string"
                                                    },
                                                    "PlayerId": {
                                                        "type": "integer"
                                                    },
                                                    "TeamId": {
                                                        "type": "integer"
                                                    },
                                                    "Type": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "FourthReferee": {
                                            "properties": {
                                                "FirstName": {
                                                    "type": "string"
                                                },
                                                "LastName": {
                                                    "type": "string"
                                                },
                                                "Nationality": {
                                                    "type": "string"
                                                },
                                                "RefereeId": {
                                                    "type": "integer"
                                                },
                                                "ShortName": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "Game": {
                                            "properties": {
                                                "Attendance": {
                                                    "type": "integer"
                                                },
                                                "AwayTeamCountryCode": {
                                                    "type": "string"
                                                },
                                                "AwayTeamId": {
                                                    "type": "integer"
                                                },
                                                "AwayTeamKey": {
                                                    "type": "string"
                                                },
                                                "AwayTeamMoneyLine": {
                                                    "type": "integer"
                                                },
                                                "AwayTeamName": {
                                                    "type": "string"
                                                },
                                                "AwayTeamPointSpreadPayout": {
                                                    "type": "integer"
                                                },
                                                "AwayTeamScore": {
                                                    "type": "integer"
                                                },
                                                "AwayTeamScoreExtraTime": {
                                                    "type": "integer"
                                                },
                                                "AwayTeamScorePenalty": {
                                                    "type": "integer"
                                                },
                                                "AwayTeamScorePeriod1": {
                                                    "type": "integer"
                                                },
                                                "AwayTeamScorePeriod2": {
                                                    "type": "integer"
                                                },
                                                "Clock": {
                                                    "type": "integer"
                                                },
                                                "ClockDisplay": {
                                                    "type": "string"
                                                },
                                                "ClockExtra": {
                                                    "type": "integer"
                                                },
                                                "DateTime": {
                                                    "type": "string"
                                                },
                                                "Day": {
                                                    "type": "string"
                                                },
                                                "DrawMoneyLine": {
                                                    "type": "integer"
                                                },
                                                "GameId": {
                                                    "type": "integer"
                                                },
                                                "GlobalAwayTeamId": {
                                                    "type": "integer"
                                                },
                                                "GlobalGameId": {
                                                    "type": "integer"
                                                },
                                                "GlobalHomeTeamId": {
                                                    "type": "integer"
                                                },
                                                "Group": {
                                                    "type": "string"
                                                },
                                                "HomeTeamCountryCode": {
                                                    "type": "string"
                                                },
                                                "HomeTeamId": {
                                                    "type": "integer"
                                                },
                                                "HomeTeamKey": {
                                                    "type": "string"
                                                },
                                                "HomeTeamMoneyLine": {
                                                    "type": "integer"
                                                },
                                                "HomeTeamName": {
                                                    "type": "string"
                                                },
                                                "HomeTeamPointSpreadPayout": {
                                                    "type": "integer"
                                                },
                                                "HomeTeamScore": {
                                                    "type": "integer"
                                                },
                                                "HomeTeamScoreExtraTime": {
                                                    "type": "integer"
                                                },
                                                "HomeTeamScorePenalty": {
                                                    "type": "integer"
                                                },
                                                "HomeTeamScorePeriod1": {
                                                    "type": "integer"
                                                },
                                                "HomeTeamScorePeriod2": {
                                                    "type": "integer"
                                                },
                                                "OverPayout": {
                                                    "type": "integer"
                                                },
                                                "OverUnder": {
                                                    "type": "number"
                                                },
                                                "Period": {
                                                    "type": "string"
                                                },
                                                "PointSpread": {
                                                    "type": "number"
                                                },
                                                "RoundId": {
                                                    "type": "integer"
                                                },
                                                "Season": {
                                                    "type": "integer"
                                                },
                                                "SeasonType": {
                                                    "type": "integer"
                                                },
                                                "Status": {
                                                    "type": "string"
                                                },
                                                "UnderPayout": {
                                                    "type": "integer"
                                                },
                                                "Updated": {
                                                    "type": "string"
                                                },
                                                "UpdatedUtc": {
                                                    "type": "string"
                                                },
                                                "VenueId": {
                                                    "type": "integer"
                                                },
                                                "VenueType": {
                                                    "type": "string"
                                                },
                                                "Week": {
                                                    "type": "integer"
                                                },
                                                "Winner": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "Goals": {
                                            "items": {
                                                "properties": {
                                                    "AssistedByPlayerId1": {
                                                        "type": "integer"
                                                    },
                                                    "AssistedByPlayerId2": {
                                                        "type": "integer"
                                                    },
                                                    "AssistedByPlayerName1": {
                                                        "type": "string"
                                                    },
                                                    "AssistedByPlayerName2": {
                                                        "type": "string"
                                                    },
                                                    "GameId": {
                                                        "type": "integer"
                                                    },
                                                    "GameMinute": {
                                                        "type": "integer"
                                                    },
                                                    "GameMinuteExtra": {
                                                        "type": "integer"
                                                    },
                                                    "GoalId": {
                                                        "type": "integer"
                                                    },
                                                    "Name": {
                                                        "type": "string"
                                                    },
                                                    "PlayerId": {
                                                        "type": "integer"
                                                    },
                                                    "TeamId": {
                                                        "type": "integer"
                                                    },
                                                    "Type": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "HomeTeamCoach": {
                                            "properties": {
                                                "CoachId": {
                                                    "type": "integer"
                                                },
                                                "FirstName": {
                                                    "type": "string"
                                                },
                                                "LastName": {
                                                    "type": "string"
                                                },
                                                "Nationality": {
                                                    "type": "string"
                                                },
                                                "ShortName": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "Lineups": {
                                            "items": {
                                                "properties": {
                                                    "GameId": {
                                                        "type": "integer"
                                                    },
                                                    "GameMinute": {
                                                        "type": "integer"
                                                    },
                                                    "GameMinuteExtra": {
                                                        "type": "integer"
                                                    },
                                                    "LineupId": {
                                                        "type": "integer"
                                                    },
                                                    "Name": {
                                                        "type": "string"
                                                    },
                                                    "PitchPositionHorizontal": {
                                                        "type": "integer"
                                                    },
                                                    "PitchPositionVertical": {
                                                        "type": "integer"
                                                    },
                                                    "PlayerId": {
                                                        "type": "integer"
                                                    },
                                                    "Position": {
                                                        "type": "string"
                                                    },
                                                    "ReplacedPlayerId": {
                                                        "type": "integer"
                                                    },
                                                    "ReplacedPlayerName": {
                                                        "type": "string"
                                                    },
                                                    "TeamId": {
                                                        "type": "integer"
                                                    },
                                                    "Type": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "MainReferee": {
                                            "properties": {
                                                "FirstName": {
                                                    "type": "string"
                                                },
                                                "LastName": {
                                                    "type": "string"
                                                },
                                                "Nationality": {
                                                    "type": "string"
                                                },
                                                "RefereeId": {
                                                    "type": "integer"
                                                },
                                                "ShortName": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "PenaltyShootouts": {
                                            "items": {
                                                "properties": {
                                                    "GameId": {
                                                        "type": "integer"
                                                    },
                                                    "Name": {
                                                        "type": "string"
                                                    },
                                                    "Order": {
                                                        "type": "integer"
                                                    },
                                                    "PenaltyShootoutId": {
                                                        "type": "integer"
                                                    },
                                                    "PlayerId": {
                                                        "type": "integer"
                                                    },
                                                    "Position": {
                                                        "type": "string"
                                                    },
                                                    "TeamId": {
                                                        "type": "integer"
                                                    },
                                                    "Type": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "PlayerGames": {
                                            "items": {
                                                "properties": {
                                                    "Assists": {
                                                        "type": "number"
                                                    },
                                                    "BlockedShots": {
                                                        "type": "number"
                                                    },
                                                    "Captain": {
                                                        "type": "boolean"
                                                    },
                                                    "CornersWon": {
                                                        "type": "number"
                                                    },
                                                    "Crosses": {
                                                        "type": "number"
                                                    },
                                                    "DateTime": {
                                                        "type": "string"
                                                    },
                                                    "Day": {
                                                        "type": "string"
                                                    },
                                                    "DefenderCleanSheets": {
                                                        "type": "number"
                                                    },
                                                    "DraftKingsPosition": {
                                                        "type": "string"
                                                    },
                                                    "DraftKingsSalary": {
                                                        "type": "integer"
                                                    },
                                                    "FanDuelPosition": {
                                                        "type": "string"
                                                    },
                                                    "FanDuelSalary": {
                                                        "type": "integer"
                                                    },
                                                    "FantasyPoints": {
                                                        "type": "number"
                                                    },
                                                    "FantasyPointsDraftKings": {
                                                        "type": "number"
                                                    },
                                                    "FantasyPointsFanDuel": {
                                                        "type": "number"
                                                    },
                                                    "FantasyPointsMondogoal": {
                                                        "type": "number"
                                                    },
                                                    "FantasyPointsYahoo": {
                                                        "type": "number"
                                                    },
                                                    "Fouled": {
                                                        "type": "number"
                                                    },
                                                    "Fouls": {
                                                        "type": "number"
                                                    },
                                                    "GameId": {
                                                        "type": "integer"
                                                    },
                                                    "Games": {
                                                        "type": "integer"
                                                    },
                                                    "GlobalGameId": {
                                                        "type": "integer"
                                                    },
                                                    "GlobalOpponentId": {
                                                        "type": "integer"
                                                    },
                                                    "GlobalTeamId": {
                                                        "type": "integer"
                                                    },
                                                    "GoalkeeperCleanSheets": {
                                                        "type": "number"
                                                    },
                                                    "GoalkeeperGoalsAgainst": {
                                                        "type": "number"
                                                    },
                                                    "GoalkeeperSaves": {
                                                        "type": "number"
                                                    },
                                                    "GoalkeeperSingleGoalAgainst": {
                                                        "type": "number"
                                                    },
                                                    "GoalkeeperWins": {
                                                        "type": "number"
                                                    },
                                                    "Goals": {
                                                        "type": "number"
                                                    },
                                                    "HomeOrAway": {
                                                        "type": "string"
                                                    },
                                                    "InjuryBodyPart": {
                                                        "type": "string"
                                                    },
                                                    "InjuryNotes": {
                                                        "type": "string"
                                                    },
                                                    "InjuryStartDate": {
                                                        "type": "string"
                                                    },
                                                    "InjuryStatus": {
                                                        "type": "string"
                                                    },
                                                    "Interceptions": {
                                                        "type": "number"
                                                    },
                                                    "IsGameOver": {
                                                        "type": "boolean"
                                                    },
                                                    "Jersey": {
                                                        "type": "integer"
                                                    },
                                                    "LastManTackle": {
                                                        "type": "number"
                                                    },
                                                    "Minutes": {
                                                        "type": "number"
                                                    },
                                                    "MondogoalPosition": {
                                                        "type": "string"
                                                    },
                                                    "MondogoalSalary": {
                                                        "type": "integer"
                                                    },
                                                    "Name": {
                                                        "type": "string"
                                                    },
                                                    "Offsides": {
                                                        "type": "number"
                                                    },
                                                    "Opponent": {
                                                        "type": "string"
                                                    },
                                                    "OpponentId": {
                                                        "type": "integer"
                                                    },
                                                    "OpponentScore": {
                                                        "type": "number"
                                                    },
                                                    "OwnGoals": {
                                                        "type": "number"
                                                    },
                                                    "Passes": {
                                                        "type": "number"
                                                    },
                                                    "PassesCompleted": {
                                                        "type": "number"
                                                    },
                                                    "PenaltiesConceded": {
                                                        "type": "number"
                                                    },
                                                    "PenaltiesWon": {
                                                        "type": "number"
                                                    },
                                                    "PenaltyKickGoals": {
                                                        "type": "number"
                                                    },
                                                    "PenaltyKickMisses": {
                                                        "type": "number"
                                                    },
                                                    "PenaltyKickSaves": {
                                                        "type": "number"
                                                    },
                                                    "PlayerId": {
                                                        "type": "integer"
                                                    },
                                                    "Position": {
                                                        "type": "string"
                                                    },
                                                    "PositionCategory": {
                                                        "type": "string"
                                                    },
                                                    "RedCards": {
                                                        "type": "number"
                                                    },
                                                    "RoundId": {
                                                        "type": "integer"
                                                    },
                                                    "Score": {
                                                        "type": "number"
                                                    },
                                                    "Season": {
                                                        "type": "integer"
                                                    },
                                                    "SeasonType": {
                                                        "type": "integer"
                                                    },
                                                    "ShortName": {
                                                        "type": "string"
                                                    },
                                                    "Shots": {
                                                        "type": "number"
                                                    },
                                                    "ShotsOnGoal": {
                                                        "type": "number"
                                                    },
                                                    "Started": {
                                                        "type": "integer"
                                                    },
                                                    "StatId": {
                                                        "type": "integer"
                                                    },
                                                    "Suspension": {
                                                        "type": "boolean"
                                                    },
                                                    "SuspensionReason": {
                                                        "type": "string"
                                                    },
                                                    "TacklesWon": {
                                                        "type": "number"
                                                    },
                                                    "Team": {
                                                        "type": "string"
                                                    },
                                                    "TeamId": {
                                                        "type": "integer"
                                                    },
                                                    "Touches": {
                                                        "type": "number"
                                                    },
                                                    "Updated": {
                                                        "type": "string"
                                                    },
                                                    "UpdatedUtc": {
                                                        "type": "string"
                                                    },
                                                    "YahooPosition": {
                                                        "type": "string"
                                                    },
                                                    "YahooSalary": {
                                                        "type": "integer"
                                                    },
                                                    "YellowCards": {
                                                        "type": "number"
                                                    },
                                                    "YellowRedCards": {
                                                        "type": "number"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "TeamGames": {
                                            "items": {
                                                "properties": {
                                                    "Assists": {
                                                        "type": "number"
                                                    },
                                                    "BlockedShots": {
                                                        "type": "number"
                                                    },
                                                    "CornersWon": {
                                                        "type": "number"
                                                    },
                                                    "Crosses": {
                                                        "type": "number"
                                                    },
                                                    "DateTime": {
                                                        "type": "string"
                                                    },
                                                    "Day": {
                                                        "type": "string"
                                                    },
                                                    "DefenderCleanSheets": {
                                                        "type": "number"
                                                    },
                                                    "FantasyPoints": {
                                                        "type": "number"
                                                    },
                                                    "FantasyPointsDraftKings": {
                                                        "type": "number"
                                                    },
                                                    "FantasyPointsFanDuel": {
                                                        "type": "number"
                                                    },
                                                    "FantasyPointsMondogoal": {
                                                        "type": "number"
                                                    },
                                                    "FantasyPointsYahoo": {
                                                        "type": "number"
                                                    },
                                                    "Fouled": {
                                                        "type": "number"
                                                    },
                                                    "Fouls": {
                                                        "type": "number"
                                                    },
                                                    "GameId": {
                                                        "type": "integer"
                                                    },
                                                    "Games": {
                                                        "type": "integer"
                                                    },
                                                    "GlobalGameId": {
                                                        "type": "integer"
                                                    },
                                                    "GlobalOpponentId": {
                                                        "type": "integer"
                                                    },
                                                    "GlobalTeamId": {
                                                        "type": "integer"
                                                    },
                                                    "GoalkeeperCleanSheets": {
                                                        "type": "number"
                                                    },
                                                    "GoalkeeperGoalsAgainst": {
                                                        "type": "number"
                                                    },
                                                    "GoalkeeperSaves": {
                                                        "type": "number"
                                                    },
                                                    "GoalkeeperSingleGoalAgainst": {
                                                        "type": "number"
                                                    },
                                                    "GoalkeeperWins": {
                                                        "type": "number"
                                                    },
                                                    "Goals": {
                                                        "type": "number"
                                                    },
                                                    "HomeOrAway": {
                                                        "type": "string"
                                                    },
                                                    "Interceptions": {
                                                        "type": "number"
                                                    },
                                                    "IsGameOver": {
                                                        "type": "boolean"
                                                    },
                                                    "LastManTackle": {
                                                        "type": "number"
                                                    },
                                                    "Minutes": {
                                                        "type": "number"
                                                    },
                                                    "Name": {
                                                        "type": "string"
                                                    },
                                                    "Offsides": {
                                                        "type": "number"
                                                    },
                                                    "Opponent": {
                                                        "type": "string"
                                                    },
                                                    "OpponentId": {
                                                        "type": "integer"
                                                    },
                                                    "OpponentScore": {
                                                        "type": "number"
                                                    },
                                                    "OwnGoals": {
                                                        "type": "number"
                                                    },
                                                    "Passes": {
                                                        "type": "number"
                                                    },
                                                    "PassesCompleted": {
                                                        "type": "number"
                                                    },
                                                    "PenaltiesConceded": {
                                                        "type": "number"
                                                    },
                                                    "PenaltiesWon": {
                                                        "type": "number"
                                                    },
                                                    "PenaltyKickGoals": {
                                                        "type": "number"
                                                    },
                                                    "PenaltyKickMisses": {
                                                        "type": "number"
                                                    },
                                                    "PenaltyKickSaves": {
                                                        "type": "number"
                                                    },
                                                    "RedCards": {
                                                        "type": "number"
                                                    },
                                                    "RoundId": {
                                                        "type": "integer"
                                                    },
                                                    "Score": {
                                                        "type": "number"
                                                    },
                                                    "Season": {
                                                        "type": "integer"
                                                    },
                                                    "SeasonType": {
                                                        "type": "integer"
                                                    },
                                                    "Shots": {
                                                        "type": "number"
                                                    },
                                                    "ShotsOnGoal": {
                                                        "type": "number"
                                                    },
                                                    "StatId": {
                                                        "type": "integer"
                                                    },
                                                    "TacklesWon": {
                                                        "type": "number"
                                                    },
                                                    "Team": {
                                                        "type": "string"
                                                    },
                                                    "TeamId": {
                                                        "type": "integer"
                                                    },
                                                    "Touches": {
                                                        "type": "number"
                                                    },
                                                    "Updated": {
                                                        "type": "string"
                                                    },
                                                    "UpdatedUtc": {
                                                        "type": "string"
                                                    },
                                                    "YellowCards": {
                                                        "type": "number"
                                                    },
                                                    "YellowRedCards": {
                                                        "type": "number"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Box Score"
            }
        },
        "/{format}/BoxScores/{date}": {
            "get": {
                "operationId": "BoxScoresByDate",
                "parameters": [
                    {
                        "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
                        "in": "path",
                        "name": "format",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "xml",
                                "json"
                            ],
                            "default": "xml"
                        }
                    },
                    {
                        "description": "The date of the game(s).\n<br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.",
                        "in": "path",
                        "name": "date",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "AdditionalAssistantReferee1": {
                                                "properties": {
                                                    "FirstName": {
                                                        "type": "string"
                                                    },
                                                    "LastName": {
                                                        "type": "string"
                                                    },
                                                    "Nationality": {
                                                        "type": "string"
                                                    },
                                                    "RefereeId": {
                                                        "type": "integer"
                                                    },
                                                    "ShortName": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "AdditionalAssistantReferee2": {
                                                "properties": {
                                                    "FirstName": {
                                                        "type": "string"
                                                    },
                                                    "LastName": {
                                                        "type": "string"
                                                    },
                                                    "Nationality": {
                                                        "type": "string"
                                                    },
                                                    "RefereeId": {
                                                        "type": "integer"
                                                    },
                                                    "ShortName": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "AssistantReferee1": {
                                                "properties": {
                                                    "FirstName": {
                                                        "type": "string"
                                                    },
                                                    "LastName": {
                                                        "type": "string"
                                                    },
                                                    "Nationality": {
                                                        "type": "string"
                                                    },
                                                    "RefereeId": {
                                                        "type": "integer"
                                                    },
                                                    "ShortName": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "AssistantReferee2": {
                                                "properties": {
                                                    "FirstName": {
                                                        "type": "string"
                                                    },
                                                    "LastName": {
                                                        "type": "string"
                                                    },
                                                    "Nationality": {
                                                        "type": "string"
                                                    },
                                                    "RefereeId": {
                                                        "type": "integer"
                                                    },
                                                    "ShortName": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "AwayTeamCoach": {
                                                "properties": {
                                                    "CoachId": {
                                                        "type": "integer"
                                                    },
                                                    "FirstName": {
                                                        "type": "string"
                                                    },
                                                    "LastName": {
                                                        "type": "string"
                                                    },
                                                    "Nationality": {
                                                        "type": "string"
                                                    },
                                                    "ShortName": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "Bookings": {
                                                "items": {
                                                    "properties": {
                                                        "BookingId": {
                                                            "type": "integer"
                                                        },
                                                        "GameId": {
                                                            "type": "integer"
                                                        },
                                                        "GameMinute": {
                                                            "type": "integer"
                                                        },
                                                        "GameMinuteExtra": {
                                                            "type": "integer"
                                                        },
                                                        "Name": {
                                                            "type": "string"
                                                        },
                                                        "PlayerId": {
                                                            "type": "integer"
                                                        },
                                                        "TeamId": {
                                                            "type": "integer"
                                                        },
                                                        "Type": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "FourthReferee": {
                                                "properties": {
                                                    "FirstName": {
                                                        "type": "string"
                                                    },
                                                    "LastName": {
                                                        "type": "string"
                                                    },
                                                    "Nationality": {
                                                        "type": "string"
                                                    },
                                                    "RefereeId": {
                                                        "type": "integer"
                                                    },
                                                    "ShortName": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "Game": {
                                                "properties": {
                                                    "Attendance": {
                                                        "type": "integer"
                                                    },
                                                    "AwayTeamCountryCode": {
                                                        "type": "string"
                                                    },
                                                    "AwayTeamId": {
                                                        "type": "integer"
                                                    },
                                                    "AwayTeamKey": {
                                                        "type": "string"
                                                    },
                                                    "AwayTeamMoneyLine": {
                                                        "type": "integer"
                                                    },
                                                    "AwayTeamName": {
                                                        "type": "string"
                                                    },
                                                    "AwayTeamPointSpreadPayout": {
                                                        "type": "integer"
                                                    },
                                                    "AwayTeamScore": {
                                                        "type": "integer"
                                                    },
                                                    "AwayTeamScoreExtraTime": {
                                                        "type": "integer"
                                                    },
                                                    "AwayTeamScorePenalty": {
                                                        "type": "integer"
                                                    },
                                                    "AwayTeamScorePeriod1": {
                                                        "type": "integer"
                                                    },
                                                    "AwayTeamScorePeriod2": {
                                                        "type": "integer"
                                                    },
                                                    "Clock": {
                                                        "type": "integer"
                                                    },
                                                    "ClockDisplay": {
                                                        "type": "string"
                                                    },
                                                    "ClockExtra": {
                                                        "type": "integer"
                                                    },
                                                    "DateTime": {
                                                        "type": "string"
                                                    },
                                                    "Day": {
                                                        "type": "string"
                                                    },
                                                    "DrawMoneyLine": {
                                                        "type": "integer"
                                                    },
                                                    "GameId": {
                                                        "type": "integer"
                                                    },
                                                    "GlobalAwayTeamId": {
                                                        "type": "integer"
                                                    },
                                                    "GlobalGameId": {
                                                        "type": "integer"
                                                    },
                                                    "GlobalHomeTeamId": {
                                                        "type": "integer"
                                                    },
                                                    "Group": {
                                                        "type": "string"
                                                    },
                                                    "HomeTeamCountryCode": {
                                                        "type": "string"
                                                    },
                                                    "HomeTeamId": {
                                                        "type": "integer"
                                                    },
                                                    "HomeTeamKey": {
                                                        "type": "string"
                                                    },
                                                    "HomeTeamMoneyLine": {
                                                        "type": "integer"
                                                    },
                                                    "HomeTeamName": {
                                                        "type": "string"
                                                    },
                                                    "HomeTeamPointSpreadPayout": {
                                                        "type": "integer"
                                                    },
                                                    "HomeTeamScore": {
                                                        "type": "integer"
                                                    },
                                                    "HomeTeamScoreExtraTime": {
                                                        "type": "integer"
                                                    },
                                                    "HomeTeamScorePenalty": {
                                                        "type": "integer"
                                                    },
                                                    "HomeTeamScorePeriod1": {
                                                        "type": "integer"
                                                    },
                                                    "HomeTeamScorePeriod2": {
                                                        "type": "integer"
                                                    },
                                                    "OverPayout": {
                                                        "type": "integer"
                                                    },
                                                    "OverUnder": {
                                                        "type": "number"
                                                    },
                                                    "Period": {
                                                        "type": "string"
                                                    },
                                                    "PointSpread": {
                                                        "type": "number"
                                                    },
                                                    "RoundId": {
                                                        "type": "integer"
                                                    },
                                                    "Season": {
                                                        "type": "integer"
                                                    },
                                                    "SeasonType": {
                                                        "type": "integer"
                                                    },
                                                    "Status": {
                                                        "type": "string"
                                                    },
                                                    "UnderPayout": {
                                                        "type": "integer"
                                                    },
                                                    "Updated": {
                                                        "type": "string"
                                                    },
                                                    "UpdatedUtc": {
                                                        "type": "string"
                                                    },
                                                    "VenueId": {
                                                        "type": "integer"
                                                    },
                                                    "VenueType": {
                                                        "type": "string"
                                                    },
                                                    "Week": {
                                                        "type": "integer"
                                                    },
                                                    "Winner": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "Goals": {
                                                "items": {
                                                    "properties": {
                                                        "AssistedByPlayerId1": {
                                                            "type": "integer"
                                                        },
                                                        "AssistedByPlayerId2": {
                                                            "type": "integer"
                                                        },
                                                        "AssistedByPlayerName1": {
                                                            "type": "string"
                                                        },
                                                        "AssistedByPlayerName2": {
                                                            "type": "string"
                                                        },
                                                        "GameId": {
                                                            "type": "integer"
                                                        },
                                                        "GameMinute": {
                                                            "type": "integer"
                                                        },
                                                        "GameMinuteExtra": {
                                                            "type": "integer"
                                                        },
                                                        "GoalId": {
                                                            "type": "integer"
                                                        },
                                                        "Name": {
                                                            "type": "string"
                                                        },
                                                        "PlayerId": {
                                                            "type": "integer"
                                                        },
                                                        "TeamId": {
                                                            "type": "integer"
                                                        },
                                                        "Type": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "HomeTeamCoach": {
                                                "properties": {
                                                    "CoachId": {
                                                        "type": "integer"
                                                    },
                                                    "FirstName": {
                                                        "type": "string"
                                                    },
                                                    "LastName": {
                                                        "type": "string"
                                                    },
                                                    "Nationality": {
                                                        "type": "string"
                                                    },
                                                    "ShortName": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "Lineups": {
                                                "items": {
                                                    "properties": {
                                                        "GameId": {
                                                            "type": "integer"
                                                        },
                                                        "GameMinute": {
                                                            "type": "integer"
                                                        },
                                                        "GameMinuteExtra": {
                                                            "type": "integer"
                                                        },
                                                        "LineupId": {
                                                            "type": "integer"
                                                        },
                                                        "Name": {
                                                            "type": "string"
                                                        },
[...]
